prboom2/ICONS/icons.aps
prboom2/ICONS/prboom-plus.wad
prboom2/data/prboom.wad
prboom2/release
/build*
/dependencies*
CMakeCache.txt
CMakeFiles
Makefile
arch.c
cmake_install.cmake
config.h
data/CMakeFiles
data/Makefile
data/cmake_install.cmake
prboom2/data/rdatawad
glboom-plus
prboom-plus
prboom-plus-game-server
prboom-plus.wad
src/CMakeFiles
src/Makefile
src/cmake_install.cmake
